@helper Submit(string name, string classe) {
  <input type="submit" value="@name" class="@classe" />
}

@helper Submit(string name) {
    <input type="submit" value="@name" class="btn btn-primary" />
}

@helper Mensagem(string mensagem, string tipoMensagem) {
    if (@mensagem != null)
    {
        <div class="alert alert-@(tipoMensagem == "sucesso"?"success":"danger")">
            @mensagem
        </div>
    }
}
